html,
body {
  height: 100%;
  width: 100%;
}

#rete {
  background-color: #cbcbcb;
}

.node {
  background: rgba(101, 101, 101, 0.8) !important;
  border: 0px solid #333 !important;
  box-shadow: 2px 2px 5px #888;
}
.node:hover {
  background: rgba(120, 120, 120, 0.8) !important;
}

.node.selected {
  background: #3c6aaf !important;
  border: 2px solid white !important;
}

.node .title {
  color: #f7cf57 !important;
}
.node .input-title,
.node .output-title {
  margin: 0px 5px !important;
}
.socket {
  width: 20px !important;
  height: 20px !important;
  background: #96b38a !important;
}
.socket.output {
  background: #d06363 !important;
}

.connection .main-path {
  stroke: #9a9a9a !important;
  stroke-width: 2px !important;
}

select,
input {
  width: 100px;
  border-radius: 5px;
  padding: 2px 6px;
}

#rete .context-menu .item {
  background-color: #333333dd !important;
  border: 0px solid white !important;
  padding: 5px 10px !important;
  font-family: sans-serif !important;
}

#rete .context-menu .item:hover {
  background-color: #2b5088 !important;
}
.node.sideGrouped {
  background:rgba(255, 101, 101, 0.8) !important;
}
.node.regularGrouped {
  display: none;
}


.groupElement {
  position: absolute;
  background-color: green;
  z-index: 0;
}

.groupMaximized {
  z-index: -1;
}

.groupMinimizeElement {
  position: absolute;
  z-index: -1;
  background-color: red;
  width: 30px;
  height: 30px;
  right: 10px
}

.groupRenameElement {
  position: absolute;
  z-index: -1;
  background-color: pink;
  right: 50px;
  width: 30px;
  height: 30px;
}

.groupDeleteElement {
  position: absolute;
  z-index: -1;
  background-color: purple;
  right: 90px;
  width: 30px;
  height: 30px;
}

.groupTitleElement {
  position: absolute;
  z-index: -1;
  background-color: #2b5088;
}


.socketTitleIn {
  position: absolute;
  z-index: -1;
  background-color: maroon;
}

.socketTitleOut {
  position: absolute;
  z-index: -1;
  background-color: magenta;
}

.groupMinimizedSocket{
  position: absolute;
  user-select: none;
  width: 20px !important;
  max-width: 20px;
  display: inline-block;
  height: 20px !important;
  background: #96b38a !important;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 12px;
  margin: 6px;
  z-index: 2;
}

.groupMinimizedSocketOutput{
}

.groupMaximized > div > .groupMinimizedSocket{
  display: none;
}
.groupMaximized > div > span {
  display: none;
}
